footer {
    background: #090909;
    color: white;
    min-height: 11vh;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: 0 4px 20px #51515147;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  

  .foot-cont{
    padding: .5rem 16rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    >div{
      color: #00ff88;
    }
  }

  @media (max-width: 1024px){
    .foot-cont{
      padding: .5rem 7rem;
    }
  }

  @media (max-width: 768px) {
    footer {
        padding: 10px 20px;
    }
    footer p, footer a {
        font-size: 14px;
    }

    .foot-cont {
      padding: .5rem 4rem;
    }
  }

  @media (max-width:600px){
    .foot-cont{
      padding: 0 .5rem;
    }
  }


  @media (max-width : 360px){ 
    .foot-cont {
      flex-direction: column;
    }
  }

  