.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #19171780;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00ff88;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}


.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 3px; 
}

.nav-links li a:hover{
  color: #00ff88;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;  
  height: 2px;
  background-color: rgb(19, 233, 0);
  transition: width 0.4s ease-in-out;  
}


.nav-links li a:hover::after {
  width: 100%; 
}

.nav-buttons{
  display: flex;
  gap: 1rem;
}


.hamburger{
  display: none;
}

@media (max-width: 768px) {
  
  .nav-links{
    display: none;
  }
 
  .hamburger{
    display: inline-block;
  }

  .mobile-ham{
    position: absolute;
    right: 0;
    top: 6rem;
    z-index: 999;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }

  .mobile-ham li{
    list-style: none;
    width: 100%;
    padding: .5rem 0;
    text-align: center;
  }

  .mobile-ham li:hover{
    background-color: #a4a4a485;
  }

  .mobile-ham li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .mobile-ham li a:hover {
    color: #00ff88;
  }

  .logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
    .navbar{
      width: 100%;
    }
}