
.search-container {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0b0b0b, #000000);
}

.search-box {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-box input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.search-box input:focus {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
    background-color: white;
}

.search-box button {
    width: 30%;
    border: none;
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.7rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.search-box button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px rgba(144, 142, 142, 0.3);
}

.search-box button:active {
    transform: scale(0.98);
}


@media (max-width: 600px){
    .search-box{
        flex-direction: column;
        width: 100%;
    }

    .search-box button{
        width: 100%;
    }
}

.output-pop{
    display: none;
}


.show-output{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(5px);
    flex-direction: column;
    gap: 2rem;
}


.out-card{
    width: 40%;
    height: 50%;
    border-radius: 1rem;
    background: linear-gradient(to right, #0b0b0b, #000000);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 0px 12px -3px #4f4fa7;
}

.heading-pop{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.heading-pop img{
    width: 42px;
    height: 40px;
    object-fit: contain;
}

.out-card p{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0 .5rem 0 0;
}

.back-btn {
    filter: invert(1);
    width: 40px;
    height: 35px;
    object-fit: contain;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.back-btn:hover{
    transform: scale(1.2);
}

.back-btn:active{
    transform: scale(0.98);
}


@media (max-width: 750px){
    .out-card{
        width: 100%;
    }
}